.rsvp-area {
    position: absolute;
    right: 25px;
    bottom: 250px;
    background-color: rgb(126, 120, 94);
    border-radius: 15px;
    width: 500px;
}

.rsvp-button {
    font-family: fantasy;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 15px;
    margin: 0px 5px;
}

.rsvp-button:hover {
    color: honeydew;
    background-color: rgb(56, 71, 56);
    box-shadow: 10px 5px 5px honeydew;
}
